.vscode
whisper.cpp
pyaudio
audio/target
**/target/
tame.py
**.cpp
./audio/src/check/*
./audio/src/database_health.py

audio/src/parsing/checkpoint.txt
audio/src/parsing/llama.log
audio/src/parsing/test.rs
audio/src/parsing/tester.txt
audio/src/audio_text.db
audio/src/error_log.txt
audio/src/llama.log
audio/src/mcts.wav
audio/src/mcts_wav.txt
audio/src/llama.log
audio/mcts.wav
audio/whatsHappening.txt
llama.cpp
**.txt
**.wav
audio/src/models/**
audio/src/check/**
audio/src/check/
live_audio_recording.py
mov_audio_recording.py

